.background-Image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

}
.line-adjust{
    // position: absolute;
}
.fwBolder{
    font-weight: bolder;
}
.fsLarge{
    font-size: 2rem;
}
header {
    height: 600px;
    .header-background {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url('./picture/top.png');
        .header-clinic {
            font-weight: bolder;
            letter-spacing: 3px;
            font-size: 6.5rem;
        }
        .header-content{
            font-weight: bolder;
            font-size: 2.5rem;
            position: relative;
        }
        .header-threeStep{
            font-weight: bolder;
            border-radius: 50px;
            text-align: center;
            width: 50%;
            padding: 20px 10px;
            font-size:x-large;
            letter-spacing: 3px;
        }
    }

}
.common-card{
    height: 600px;
    &.pd-top{
        padding-top: 4.5rem;
    }
    &.oneBackground{
        background-image: url('./picture/block-1.png');
        
    }
    &.twoBackground{
        background-image: url('./picture/block-2.png');
    }
    &.threeBackground{
        background-image: url('./picture/block-3.png');

    }
    &.fourBackground{
        background-image: url('./picture/block-4.png');
    }
    .card-blueTitle{
        width: 30%;
        padding: 5px 0;
        .pd-left{
            padding-left: 5rem;
        }
    }
    .content{
        padding-top: 5rem;
        padding-left: 5rem;
        .card-title{
            letter-spacing: 2px;
        }
        .card-content{
            padding-top: 2rem;
            letter-spacing: 3px;
        }
        .card-clinicCode{
            font-weight:500;
            font-size: 1.5rem;
        }
    }
    .card-blueＣontent{
        display: flex;
        justify-content: space-around;
        align-items: center;
        &.theThreeCard{
            width: 90%;
            margin: 0 auto;
            padding-top: 26px;
        }
        .threeCard{
            width: calc ( 100% / 3 );
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border:0;
            .settingBtn{
                border-radius: 50px;
                font-weight: 500;
                font-size: larger;
            }
        }
    }
}
.button-and-notice{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 2.5rem;
    .download{
        border-radius: 50px;
        width: 40%;
    }
    .notice-content-card{
        width: 85%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding: 20px 40px 20px 35px;
        border-radius: 10px;
        margin: 35px 0 0 0;
        font-size: large;
        letter-spacing: 0.5px;
        font-weight: 400;
        line-height: 1.6;
        ol{
            margin: 0;
        }
        span{
            font-weight: 500;
        }
    }
}
footer{
    .footer-card{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 30px 0;
        width: 75%;
        .singleCard{
            display: flex;
            justify-content: center;
            align-self: start;
            .cardImage{
                width: 45px;
                margin: 0 10px;
            }
            .card-content{
                .h2{
                    font-size: larger;
                    margin-bottom: 0.3rem;
                }
                .h3{
                    margin-bottom: 0.5rem;
                    font-size: medium;
                    font-weight: normal;
                }
            }
        }
    }
}